# Ignore directories
__pycache__/
*Archiv/

# Ignore python data files
*.npy
*.npz

# Ignore csv
*.csv

# Ingore pictures
*.jpg
*.jpeg
*.png

# Ignore logs
logs/
*.log

# Ignore .exe
*.exe

# Ignore videos
*.mp4

# Ignore open3d files
ScreenCamera*
ScreenCapture*